*_im.d
*_wrap.cxx
*-native
*.a
*.apk
*.bak
*.box
*.class
*.db3
*.db3-journal
*.dll
*.exe
*.exp
*.gz
*.ilk
*.lib
*.mod.js
*.mod.mjs
*.netmodule
*.o
*.obj
*.orig
*.pdb
*.pyd
*.qm
*.runtimeconfig.json
*.stackdump
*.suo
*.tar
*.tar.7z
*.tmp
*.tmp0
*.user
*.wsl
*.x.js
*.x.mjs
*.xz
*_jetpdb
*_trial_run
*~
.ash_history
.bash_history
.clojure
.codelite
.conan
.config
.ctagsd
.dooble
.emacs.d
.git-credentials*
.gradle
.idea
.lesshst
.local
.subversion
.vagrant
.viminfo
.wget-hsts
.xmake
/.sbt
/repo
32bit
64bit
\#*\#
__pycache__
_viminfo
bin
binary
build
build-*
debug
dist
gwt-unitCache
node_modules
obj
qt-unified-linux-x64-4.1.1-online.run
release
setup.log*
target
tmp
tmp.*
war
x86_64-win64
zig-cache
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.Debug
*.Release
/vcpkg-dist
*.VC.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.ipch
*.vcxproj.filters
